# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
target/*
application.pid
${LOG_PATH}
LOG_PATH_IS_UNDEFINED
a.txt
*log*

!io-elves-log